body
{
	background-color: #3F3745;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.navdiv
{
	background-color: #352D3B;
	height: 100px;
	width: 100%;
	margin: 0px;

}
.mynav
{
	margin-left: 160px;
	
}

.mynav ul, .mynav li, .mynav img {
	margin: 0;
	padding: 0;
	display: inline;
	margin-top: 20px;
	
}
.mynav ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.mynav li {
	float: left;
	position: relative;
	width:auto;
}
.mynav a {
	background: #352D3B;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	transition: all .25s ease;
}
.mynav li:hover a {
	background: #FF9830;
}

li:hover ul {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#btn1
{
	background-color: #5F5665;
	color: white;
	margin-top: 20px;
	border:transparent;
	border-radius: 10px;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:15px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		height: 40px;
}
.searchdiv
{
	color: white;

}
#txt
{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
		height: 60px;
		width: 480px;
		float: left;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	visibility: hidden;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #FF9830;
}
#submenu a {
	background-color:#E7E7E7;
	color: #333333;
}

.sbutton {
		margin-top: 1px;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #FF9830; border-right:0px;
		background: #FF9830;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		height: 70px;
		width: 140px;
	}
.mynav li:hover ul {
    overflow:auto;
    max-height:150px;
}
